

<div class="container">
    <img src="..." />
    <div class="jumbotron">
        <h3>Queremos ouvir vôce!</h3>
        <p>Se tiver alguma duvida ou sugestão entre em contato!</p>
        <p>
            <span>
                <img src="..." />
            </span>
            <h5><email endereco="teste@gmail.com" conteudo="Enviar um email"></email></h5>
            <br />
            <span>
                <img src="..." />
            </span>
            <h5>(61) 97777-7777</h5>
            <br />
            <span>
                <img src="..." />
            </span>
            <h5>Endereço</h5>
        </p>
    </div>
</div>