<br />
<img src="~/Imagens/Admin.png" alt="Àrea de Administração"  class="marginTop1" right="150px" width="150px"/>
<div class="container">
    <div class="jumbotron">
        <p>
           <h2>Acesso Negado!</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>